<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <% include menu %>
    <div class='max-width-4 mx-auto'>
      <h1>Entries</h1>
      <% entries.forEach(function(entry) { %>
        <div class='entry'>
          <h3><%= entry.title %></h3>
          <p><%= entry.body %></p>
          <p>Posted by <%= entry.username %></p>
        </div>
      <% }) %>

      <% include pager %>
    </div>
  </body>
</html>