<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/basscss/8.0.3/css/basscss.min.css">
  <link href="https://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
</head>