<div id='brand'>
  IcyShoutbox!
</div>
<div id='menu'>
  <% if (locals.user) { %>
    <span class='name'>
      <%= user.name %>
    </span>
    <a href="/post">Post</a>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
  <% } %>
</div>