body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu {
  position: absolute;
  top: 15px;
  right: 20px;
  /*font-size: 12px;*/
  color: #888;
}

#menu .name:after {
  content: ' -';
}

#menu a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
  font-family: 'Wire One', sans-serif;
  /*font-size: 1.5rem;*/
  /*transition: all 0.4s ease;*/
}

#menu a:hover {
  color: red;
  /*font-size: 1.8rem;*/
}

#brand {
  position:absolute;
  top:15px;
  left: 20px;
}

#brand a{
  font-family: 'Wire One', sans-serif;
  font-size: 2.5rem;
  /*transition: color 0.4s ease;*/
}

#brand a:hover {
  color: red;
  /*font-size: 2.2rem;*/
}

/*.blue { color: #00ccff;}*/
body {
  font-family: 'Wire One', sans-serif;
  font-size: 2rem;
}

a:hover {
  cursor: pointer;
}

input[type=text],
input[type=password] {
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 4px 4px;
  height: 2rem;
}

input[type=text]:focus {
  border: 2px solid #bbb;
}

input[type=submit] {
  background-color: #00ccff;
  color: white;
  border: none;
  padding: 8px 8px;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #42f4d4;
}

p.error {
  color: red;
}
/*h1,
h2,
h3,
p
{ font-size: 2rem;}*/